{% extends 'base.html' %}

{% block title %} input data {% endblock %}

{% block header %} Add New Data {% endblock %}

{% block body %}
    <a href="{{ url_for('table_doctor') }}" class="btn btn-primary">Back Home</a>
    <div class="card-body">
        <form action="{{ url_for('add_doctor') }}" method="POST">
            <div class="form-group">
                <label for="email">email:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input type="text" id="email" class="form-control" placeholder="email" name="email">
                </div>
            </div>
            <div class="form-group">
                <label for="degree">degree:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <textarea name="degree" id="degree" class="form-control" lass="form-control" placeholder="degree" required="required" autocomplete="off"></textarea>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm" name="submit">Submit</button>
                <button type="reset" class="btn btn-danger btn-sm">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}