{% extends 'base.html' %}

{% block title %} List Data {% endblock %}

{% block header %} Table Data {% endblock %}

{% block body %}

<div class="container">
    <div class="btn-group-vertical">
        <a href="/table_diseasetype" class="btn btn-primary" style="margin-bottom: 1.3rem;">Diseasetype table</a>
        <a href="/table_country" class="btn btn-primary" style="margin-bottom: 1.3rem;">Country table</a>
        <a href="/table_disease" class="btn btn-primary" style="margin-bottom: 1.3rem;">Disease table</a>
        <a href="/table_discover" class="btn btn-primary" style="margin-bottom: 1.3rem;">Discover table</a>
        <a href="/table_users" class="btn btn-primary" style="margin-bottom: 1.3rem;">Users table</a>
        <a href="/table_publicservant" class="btn btn-primary" style="margin-bottom: 1.3rem;">PublicServant table</a>
        <a href="/table_doctor" class="btn btn-primary" style="margin-bottom: 1.3rem;">Doctor table</a>
        <a href="/table_specialize" class="btn btn-primary" style="margin-bottom: 1.3rem;">Specialize table</a>
        <a href="/table_record" class="btn btn-primary" style="margin-bottom: 1.3rem;">Record table</a>
    </div>
</div>
{% endblock %}

