{% extends 'base.html' %}

{% block title %} List Data {% endblock %}

{% block header %} Table Data {% endblock %}

{% block body %}
    <div class="btn-group-vertical">
        <a href="/" class="btn btn-primary" style="margin-bottom: 1.3rem;">Back to tables</a>
        <a href="{{ url_for('add_users') }}" class="btn btn-primary" style="margin-bottom: 1.3rem;">Add Data</a>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Success!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif%}
    {% endwith %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">email</th>
                <th scope="col">name</th>
                <th scope="col">surname</th>
                <th scope="col">salary</th>
                <th scope="col">phone</th>
                <th scope="col">cname</th>
            </tr>
        </thead>
        <tbody>
            {% for users in data %}
                <tr>
                    <th scope="row">{{ users.index }}</th>
                    <td>{{ users.email }}</td>
                    <td>{{ users.name }}</td>
                    <td>{{ users.surname }}</td>
                    <td>{{ users.salary }}</td>
                    <td>{{ users.phone }}</td>
                    <td>{{ users.cname }}</td>
                    <td>
                        <a href="{{ url_for('update_users', email=users.email) }}" class="btn btn-warning">Edit</a>
                        <a href="{{ url_for('delete_users', email=users.email) }}" class="btn btn-danger" onclick="return confirm('Are you sure delete this data?')">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}